<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.glyndwrtimetablesatnav">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.indooratlas.android.sdk.API_KEY"
            android:value="@string/indooratlas_api_key" />
        <meta-data
            android:name="com.indooratlas.android.sdk.API_SECRET"
            android:value="@string/indooratlas_api_secret" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MappingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".TimetableContents"
            android:screenOrientation="portrait" />
        <activity android:name=".TimetablesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wayfinding.WayfindingOverlayActivity"
            android:label="@string/wayfindingTitle"
            android:screenOrientation="portrait" />

        <activity
            android:name=".imageview.ImageViewActivity"
            android:label="@string/imageViewTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".simple.SimpleActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/simpleTitle" />
        <activity
            android:name=".mapsoverlay.MapsOverlayActivity"
            android:label="@string/googleMapsOverlayTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".credentials.CredentialsFromCodeActivity"
            android:label="@string/credentialsTitle" />
        <activity
            android:name=".orientation.OrientationActivity"
            android:label="@string/orientationTitle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".geofence.GeofenceMapsOverlayActivity"
            android:label="@string/googleMapsOverlayGeofencingTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".regions.RegionsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/regionsTitle" />
        <activity
            android:name=".locationsettings.LocationSettingsActivity"
            android:label="@string/locationSettingsTitle" />

        <activity
            android:name=".googlemapsindoor.GoogleMapsIndoorActivity"
            android:label="@string/googleMapsIndoorTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lockfloor.LockFloorActivity"
            android:label="@string/lockfloorTitle"
            android:screenOrientation="portrait" />

        <service
            android:name=".foregroundservice.ForegroundService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.glyndwrtimetablesatnav.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
</manifest>